.weather__tem__days #weather__tem__days--dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.weather__tem__days #weather__tem__days--dates #weather__tem__days--icon {
  width: 60px !important;
  height: 60px !important;
}

.weather__tem__days #weather__tem__days--dates div {
  display: flex;
}
.weather__tem__days #weather__tem__days--dates div :first-child {
  border-right: 2px solid #000;
  padding-right: 5px;
}
.weather__tem__days #weather__tem__days--dates div :last-child {
  margin-left: 5px;
}
